#canvas{
  border:3px solid white; 
  background-image: url('../images/court.jpg'); 
  background-size: cover;
  background-position: center center; 
  background-repeat: none;
  margin-bottom: 30px;
}

.can{
  padding-top: 35px;
}

.ruby{
  padding-top: 50px;
}

#portfolio{
  height: 1200px;
  background: light-gray;

}

#technologies{
  background: white;
  margin-bottom: -100px;
}

canvas{
  background-color: #000;
  display: block;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
}

#placed{
  width: 504px;
  height: 600px;
  background: url('../images/space_start.jpg');
  background-position: center;
  margin-bottom: 30px;
}

#container{
  
}

#main{
  text-align: center;
  width: 100%;
  background-color: rgba(246, 250, 248, 0.0);
  height: 20px;
  vertical-align: top;
  border: none;
  position: absolute;
  left: 0px;
  top: 230px;
}
#main h1{
  font-family: 'Lobster Two', cursive;
  text-align: center;
  color: white;
  font-size: 30px;
}
#main h3{
  font-size: 15px;
  margin-top: 70px;
}

#notice{
  position: absolute;
    left: 620px;
    width: 300px;
    top: 300px;
}

#rally_score{
  top: 150px;
  left: -80px;
  font-size: 30px;
  position: absolute;
  text-align: center;
}

#main span{
  font-size: 15px;
  color: white;
}



.life_text{
  display: none;
  /*display: block;*/
  position: absolute;
  left: -120px;
  bottom: 360px;
}

#start{
  position: absolute;
  left: 720px;
  top: 370px;
}

#play{
  position: absolute;
  top: 450px;
  left: 700px;
}

.gameover{
  position: absolute;
  bottom: 300px;
  left: 280px;
  color: white;
  font-family: 'VT323';
  font-size: 50px;
}

a {
  color: #00B7FF;
}

/*iPhone6*/
@media screen and (max-width: 736px) {
  #canvas{
    margin-left: -23.5px;
    margin-top: 20px;
    width: 110%;
    height: 100%;
  }
  #main{
    text-align: center;

    width: 100%;
    background-color: rgba(246, 250, 248, 0.0);
    height: 20px;
    display: inline-block;
    vertical-align: top;
    border:none;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    left: -80px;
    top: 90px;
  }
  #main h1{
    text-align: center;
    color: white;
    font-size: 30px;
  }
  #main h3{
    font-size: 15px;
    margin-top: 70px;
  }

  #notice{
    display: none;
  }

  #rally_score{
    position: absolute;
    left: 150;
    top: 320;
    text-align: center;
    color: white;
  }

  #main span{
    font-size: 15px;
    color: white;
  }


  #left_move{
    width: 30%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    background: rgba(246, 250, 248, 0.0);
    color: rgba(246, 250, 248, 0.0);
    border: none;
    bottom: 0;
    text-align: center;
  }
  #start{
  display: none;
  }
  #right_move{
    text-align: center;
    width: 30%;
    height: 100%;
    background: rgba(246, 250, 248, 0.0);
    color: rgba(246, 250, 248, 0.0);
    border: none;
    display: inline-block;
    position: absolute;
    left: 255;
    bottom: 0;
  }

}
